<div class="containter text-center padding">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>The Longest Word Game</h2>
      <p><strong>Your attempt: </strong><%= @attempt %></p>
      <p><strong>Time Taken to answer: </strong><%= @result[:time] %></p>
      <p><strong>Translation: </strong><%= @result[:translation] %></p>
      <p><strong>Your Score: </strong><%= @result[:score] %></p>
      <p><strong>Message: </strong><%= @result[:message] %></p>
    </div>
  </div>
</div>













<!-- puts "Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Translation: #{result[:translation]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}" -->
